/**
 * Component {{name}}
 */

import React from "react";
import PropTypes from 'prop-types';

{{#if withStyles}}
import "./styles.scss";
{{/if}}

function {{name}}() {
    return (
        <React.Fragment>
            <div class="{{name}}">

            </div>
        </React.Fragment>
    );
}

{{name}}.propTypes = {

}

export default {{name}};
