/**
 * Component {{name}}
 */

import React from "react";
import PropTypes from 'prop-types';
{{#if withIntl}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if withStyles}}
import "./styles.scss";
{{/if}}

function {{name}} (props) {
    return (
        <div className="{{name}}">
            {{#if withIntl}}
            <FormattedMessage {...messages.title} />
            {{else}}
            <span>{{name}}</span>
            {{/if}}
        </div>
    );
}

{{name}}.propTypes = {

}

export default {{name}};
