/**
 * Page {{name}}
 */

import React, { useEffect } from 'react';
import PropTypes from 'prop-types';
import { Helmet } from 'react-helmet';
{{#if withRedux}}
import { connect } from 'react-redux';
import { compose } from 'redux';
import { WithReducer } from 'shared/components/WithReducer';
import {{name}}Reducer from './reducer';
{{/if}}
{{#if withSaga}}
import { WithSaga } from 'shared/components/WithSaga';
import {{lowerCase name}}Saga from './saga';
{{/if}}
{{#if withIntl}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if withStyles}}
import './styles.scss';
{{/if}}
{{#if withRedux}}
import {
    {{lowerCase name}}Routine,
} from './actions';
{{/if}}

function {{name}} (props) {
    {{#if withRedux}}
    useEffect(() => {
        props.{{lowerCase name}}Routine();
    }, []);
    {{/if}}

    return (
        <React.Fragment>
            <Helmet>
                <title>{{name}}</title>
            </Helmet>

            <section className="section {{name}}">
                <div className="container">
                    {{#if withIntl}}
                    <h2 className="title is-2"><FormattedMessage {...messages.title} /></h2>
                    {{else}}
                    <h2 className="title is-2">{{name}}</h2>
                    {{/if}}
                </div>
            </section>
        </React.Fragment>
    );
}

{{name}}.propTypes = {

}

{{#if withRedux}}
const mapStateToProps = state => {
    return {
        {{lowerCase name}}: state.{{lowerCase name}},
    };
};

const mapDispatchToProps = {
    {{lowerCase name}}Routine,
}

const withConnect = connect(
    mapStateToProps,
    mapDispatchToProps,
);

{{name}}.propTypes = {
    {{lowerCase name}}: PropTypes.object,
    dispatch: PropTypes.func,
};

export default compose(
    WithReducer('{{lowerCase name}}', {{name}}Reducer),
    {{#if withSaga}}
    WithSaga('{{lowerCase name}}', {{lowerCase name}}Saga),
    {{/if}}
    withConnect,
)({{name}});
{{else}}
export default {{name}};
{{/if}}
