import React from "react";
import PropTypes from 'prop-types';
import { Helmet } from 'react-helmet';

{{#if withRedux}}
import { connect } from 'react-redux';
import { compose } from 'redux';

import { WithReducer } from 'shared/components/WithReducer';

import {{name}}Reducer from './reducer';
{{/if}}
{{#if withSaga}}
import { WithSaga } from 'shared/components/WithSaga';

import {{lower name}}Saga from './saga';
{{/if}}

{{#if withStyles}}
import "./styles.scss";
{{/if}}

{{#if withRedux}}
import {
    defaultAction,
} from './actions';
{{/if}}

function {{name}}() {
    return (
        <React.Fragment>
            <Helmet>
                <title>{{name}}</title>
            </Helmet>

            <section className="section {{name}}">
                <div className="container">
                    <h2 className="title is-2">{{name}}</h2>
                </div>
            </section>
        </React.Fragment>
    );
}

{{name}}.propTypes = {

}

{{#if withRedux}}
const mapStateToProps = state => {
    return {
        {{lower name}}: state.{{lower name}},
    };
};

function mapDispatchToProps(dispatch) {
    return {
        dispatch,
    };
};

const withConnect = connect(
    mapStateToProps,
    mapDispatchToProps,
);

{{name}}.propTypes = {
    {{lower name}}: PropTypes.object,
    dispatch: PropTypes.func,
}

export default compose(
    WithReducer('{{lower name}}', {{name}}Reducer),
    {{#if withSaga}}
    WithSaga('{{lower name}}', {{lower name}}Saga),
    {{/if}}
    withConnect,
)({{name}});
{{else}}
export default {{name}};
{{/if}}
